### Hi there, I'm {{firstName}} {{lastName}} 👋
![](https://komarev.com/ghpvc/?username={{githubUsername}})
## {{headLine}}
{{#currentStatusList}}
- {{.}}
{{/currentStatusList}}

### Connect with me:

{{#websiteLink}}[<img align="left" alt="{{firstName}}" width="22px" src="https://raw.githubusercontent.com/iconic/open-iconic/master/svg/globe.svg" />]({{websiteLink}}){{/websiteLink}}
{{#youtubeLink}}[<img align="left" alt="{{firstName}} | YouTube" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/youtube.svg" />]({{youtubeLink}}){{/youtubeLink}}
{{#twitterLink}}[<img align="left" alt="{{firstName}} | Twitter" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/twitter.svg" />]({{twitterLink}}){{/twitterLink}}
{{#linkedinLink}}[<img align="left" alt="{{firstName}} | LinkedIn" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/linkedin.svg" />]({{linkedinLink}}){{/linkedinLink}}
{{#instagramLink}}[<img align="left" alt="{{firstName}} | Instagram" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/instagram.svg" />]({{instagramLink}}){{/instagramLink}}

<br />

### Languages and Tools:

{{#languageAndTools.html5}}<img align="left" alt="HTML5" width="26px" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/html/html.png" />{{/languageAndTools.html5}}
{{#languageAndTools.css3}}<img align="left" alt="CSS3" width="26px" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/css/css.png" />{{/languageAndTools.css3}}
{{#languageAndTools.sass}}<img align="left" alt="Sass" width="26px" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/sass/sass.png" />{{/languageAndTools.sass}}
{{#languageAndTools.javascript}}<img align="left" alt="JavaScript" width="26px" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/javascript/javascript.png" />{{/languageAndTools.javascript}}
{{#languageAndTools.react}}<img align="left" alt="React" width="26px" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/react/react.png" />{{/languageAndTools.react}}
{{#languageAndTools.nodejs}}<img align="left" alt="Node.js" width="26px" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/nodejs/nodejs.png" />{{/languageAndTools.nodejs}}
{{#languageAndTools.sql}}<img align="left" alt="SQL" width="26px" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/sql/sql.png" />{{/languageAndTools.sql}}
{{#languageAndTools.mysql}}<img align="left" alt="MySQL" width="26px" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/mysql/mysql.png" />{{/languageAndTools.mysql}}
{{#languageAndTools.mongodb}}<img align="left" alt="MongoDB" width="26px" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/mongodb/mongodb.png" />{{/languageAndTools.mongodb}}
{{#languageAndTools.git}}<img align="left" alt="Git" width="26px" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/git/git.png" />{{/languageAndTools.git}}
{{#languageAndTools.github}}<img align="left" alt="GitHub" width="26px" src="https://raw.githubusercontent.com/github/explore/78df643247d429f6cc873026c0622819ad797942/topics/github/github.png" />{{/languageAndTools.github}}
{{#languageAndTools.terminal}}<img align="left" alt="Terminal" width="26px" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/terminal/terminal.png" />{{/languageAndTools.terminal}}
<br />
<br />

---

{{#featuredBlogs.length}}
### 📕 Latest Blog Posts
{{/featuredBlogs.length}}
{{#featuredBlogs}}
- [{{blogTitle}}]({{blogLink}})
{{/featuredBlogs}}
---

<img align="left" alt="Dhanushka's Github Stats" src="https://github-readme-stats.vercel.app/api?username={{githubUsername}}&show_icons=true&hide_border=true" />

[![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username={{githubUsername}}&layout=compact)](https://github.com/{{githubUsername}}/github-readme-stats)
